<%- layout('layouts/main.ejs') %>

<div class="card p-4 mx-auto" style="width: 28rem;"> 
    <h3 class="card-title text-center">New label</h3>
    <div class="card-body">
        <form action="/new_label" method="post">
            <!-- Label name -->
            <div class="mb-3">
                <label class="form-label">Label</label>
                <input type="text" class="form-control" name="label">
            </div>
            <!-- Tracks -->
            <% if(tracks.length == 0){ %> <!-- If no tracks -->
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Any song yet</h5>
                        <a href="/upload_track" class="btn btn-primary">Upload a song</a>
                    </div>
                </div>
            <% } else{ %>  <!-- If tracks -->
                <div class="list-group mb-3">
                    <label class="form-label">Associate it to tracks</label>
                    <% tracks.forEach(function(track){ %>
                    <label class="list-group-item" id="<%= track.id %>-track">
                        <input class="form-check-input me-1" type="checkbox" name="<%= track.id %>" id="<%= track.id %>" onclick="check(this.id)" style="display:none">
                        <%= track.name %>
                    </label>
                    <% }); %>
                </div>
            <script> 
                function check(id) {
                    var label= document.getElementById(id+"-track")
                    var checkbox= document.getElementById(id)
                    if(checkbox.checked){
                        label.classList.add("list-group-item","active")
                        console.log("checked")
                    }
                    else{
                        console.log("unchecked")
                        label.classList.remove("active")   
                    }
                }
            </script>
            <% } %>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
