<%- layout('layouts/main.ejs') %>

<div class="card p-4 mx-auto" style="max-width: 28rem;"> 
    <h3 class="card-title text-center">Edit label</h3>
    <div class="card-body">
        <form action="/edit_label/<%= label._id %>?_method=PUT" method="post">
            <input type="hidden" name="_method" value="PUT">
            <!-- Label -->
            <div class="mb-3">
                <label class="form-label">Label</label>
                <input type="text" class="form-control" name="label" value="<%= label.label %>">
            </div>
            <!-- Tracks -->
            <% if(tracks.length == 0){ %> <!-- If no tracks -->
                <div class="card mb-3">
                    <div class="card-body text-center">
                        <h5 class="card-title">No songs yet</h5>
                    </div>
                </div>
            <% } else{ %>  <!-- If tracks -->
                <div class="list-group mb-3">
                    <label class="form-label">Edit labels</label>
                    <% tracks.forEach(function(track){ %>
                        <!-- If track in label -->
                        <% if(label.tracks_ids && label.tracks_ids.includes(track.id)){ %>
                            <label class="list-group-item active" id="<%= track.id %>-track">
                                <input class="form-check-input me-1" type="checkbox" name="<%= track.id %>"" id="<%= track.id %>" onclick="check(this.id)" style="display:none" checked>
                                <%= track.name %>
                            </label>
                            <% } else{ %>
                                <label class="list-group-item" id="<%= track.id %>-track">
                                    <input class="form-check-input me-1" type="checkbox" name="<%= track.id %>" id="<%= track.id %>" onclick="check(this.id)" style="display:none">
                                    <%= track.name %>
                                </label>
                            <% } %>
                    <% }); %>
                </div>
            <script> 
                function check(id) {
                    var label= document.getElementById(id+"-track")
                    var checkbox= document.getElementById(id)
                    if(checkbox.checked){
                        label.classList.add("list-group-item","active")
                        console.log("checked")
                    }
                    else{
                        console.log("unchecked")
                        label.classList.remove("active")   
                    }
                }
            </script>
            <% } %>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
