<%- layout('layouts/main.ejs') %>

<div class="card p-4 mx-auto" style="width: 28rem;"> 
    <h3 class="card-title text-center">Edit song</h3>
    <div class="card-body">
        <form action="/edit_track/<%= track._id %>?_method=PUT" method="post">
            <input type="hidden" name="_method" value="PUT">
            <!-- Track name -->
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" name="name" value="<%= track.name %>">
            </div>
            <!-- Labels -->
            <% if(labels.length == 0){ %> <!-- If no labels -->
                <div class="card mb-3">
                    <div class="card-body text-center">
                        <h5 class="card-title">No labels yet</h5>
                    </div>
                </div>
            <% } else{ %>  <!-- If labels -->
                <div class="list-group mb-3">
                    <label class="form-label">Edit labels</label>
                    <% labels.forEach(function(label){ %>
                        <!-- If label in track -->
                        <% if(track.labels_ids && track.labels_ids.includes(label.id)){ %>
                            <label class="list-group-item active" id="<%= label.id %>-track">
                                <input class="form-check-input me-1" type="checkbox" name="<%= label.id %>" id="<%= label.id %>" onclick="check(this.id)" style="display:none" checked>
                                <%= label.label %>
                            </label>
                            <% } else{ %>
                                <label class="list-group-item" id="<%= label.id %>-track">
                                    <input class="form-check-input me-1" type="checkbox" name="<%= label.id %>" id="<%= label.id %>" onclick="check(this.id)" style="display:none">
                                    <%= label.label %>
                                </label>
                            <% } %>
                    <% }); %>
                </div>
            <script> 
                function check(id) {
                    var label= document.getElementById(id+"-track")
                    var checkbox= document.getElementById(id)
                    if(checkbox.checked){
                        label.classList.add("list-group-item","active")
                        console.log("checked")
                    }
                    else{
                        console.log("unchecked")
                        label.classList.remove("active")   
                    }
                }
            </script>
            <% } %>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

