<%- layout('layouts/main.ejs') %>

<!-- Get file_ids from tracks in playlist -->
<% var playlist_ids= []; %>
<% playlist.forEach(function(track){ %>
    <% playlist_ids.push(track.file_id.toString()) %>
<% }); %>

<h1 class="text-center">My music</h1>

<div class="card-group p-4">
    <!-- Songs column -->
    <div class="card p-2">
        <div class="card-body">
            <h5 class="card-title text-center">All songs</h5>
            <!-- Add all songs -->
            <div class="mb-2 text-center input-group-sm">
                <a href="/add_all" class="btn btn-secondary btn-sm">Add all songs</a>
            </div>
            <% if(tracks.length == 0){ %> <!-- If no tracks -->
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">No songs yet</h5>
                        <a href="/upload_track" class="btn btn-primary">Upload new song</a>
                    </div>
                </div>
            <% } else if(playlist.length == tracks.length){ %> <!-- If all tracks in playlist -->
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">All songs in playlist</h5>
                    </div>
                </div>
            <% } else{ %> <!-- If tracks -->
                <div class="list-group">
                    <% tracks.forEach(function(track){ %>
                        <% if(!playlist_ids.includes(track.file_id.toString())){ %> <!-- If track in playlist, not show -->
                            <form action="/add_track/<%= track.id %>" method="post" style="display: inline-block;">
                                <label class="list-group-item" id="<%= track.id %>-track">
                                    <input class="form-check-input me-1" type="submit" id="<%= track.id %>" onclick="check(this.id)" style="display:none">
                                    <%= track.name %>
                                </label>
                            </form>
                        <% } %>
                    <% }); %>
                </div>
            <% } %> 
        </div>
    </div>
    <!-- Playlist column -->
    <div class="card p-2">
        <div class="card-body">
            <h5 class="card-title text-center">My playlist</h5>
            <!-- Clear playlist -->
            <div class="mb-2 text-center input-group-sm">
                <a href="/clear_playlist" class="btn btn-secondary btn-sm">Clear playlist</a>
                <a href="/" class="btn btn-primary btn-sm">Play music</a>
            </div>
            <% if(playlist.length == 0){ %> <!-- If empty playlist -->
                <div class="card">
                    <div class="card-body text-center">
                        <% if(tracks.length == 0){ %>
                            <h5 class="card-title">Upload your songs to add to playlist</h5>
                        <% } else{ %>
                            <h5 class="card-title">No songs in playlist</h5>
                        <% } %>
                    </div>
                </div>
            <% } else{ %> <!-- If playlist -->
                <div class="list-group">
                    <% playlist.forEach(function(track){ %>
                        <form action="/remove_track/<%= track.id %>" method="post" style="display: inline-block;">
                            <label class="list-group-item" id="<%= track.id %>-track">
                                <input class="form-check-input me-1" type="submit" id="<%= track.id %>" onclick="check(this.id)" style="display:none">
                                <%= track.name %>
                            </label>
                        </form>
                    <% }); %>
                </div>
            <% } %>
        </div>
    </div>
    <!-- Labels column -->
    <div class="card p-2">
        <div class="card-body">
            <h5 class="card-title text-center">My labels</h5>
            <form action="/add_with_labels" method="post">
                <% if(labels.length == 0){ %> <!-- If no labels -->
                    <div class="mb-5"></div> <!-- Spacing -->
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">No labels yet</h5>
                            <a href="/add_label" class="btn btn-primary">Add new label</a>
                        </div>
                    </div>
                <% } else{ %>  <!-- If labels -->
                    <!-- Options with labels -->
                    <div class="mb-2 text-center input-group-sm">
                        <input type="radio" class="btn-check" name="options" id="any" value="any" checked>
                        <label class="btn btn-outline-secondary" for="any"><strong>Any</strong> with these labels</label>
                        
                        <input type="radio" class="btn-check" name="options" id="only" value="only">
                        <label class="btn btn-outline-secondary" for="only"><strong>Only</strong> with these labels</label>
                    </div>
                    
                    <!-- Labels list -->
                    <div class="list-group">
                        <% labels.forEach(function(label){ %>
                        <label class="list-group-item" id="<%= label.id %>-label">
                            <input class="form-check-input me-1" type="checkbox" name="<%= label.id %>" id="<%= label.id %>" onclick="check(this.id)" style="display:none"> <!-- style="display:none" -->
                            <%= label.label %>
                        </label>
                        <% }); %>
                    </div>

                    <!-- Apply filtrer -->
                    <br>
                    <button class="btn btn-secondary btn-sm" type="submit">Apply filtrer</button>
            </form>

                <script>
                    //When check label
                    function check(id) {
                        //Active row
                        var row= document.getElementById(id+"-label")
                        var checkbox= document.getElementById(id)
                        if(checkbox.checked){
                            row.classList.add("list-group-item","active")
                            console.log("checked")
                        }
                        else{
                            console.log("unchecked")
                            row.classList.remove("active")   
                        }
                    }
                </script>
            <% } %>
        </div>
    </div>
</div>