<%- layout('layouts/main.ejs') %>

<div class="card p-4 mx-auto" style="max-width: 28rem;"> 
    <h3 class="card-title text-center">Upload song</h3>
    <div class="card-body">
        <form action="/upload_track" method="post" enctype="multipart/form-data">
            <!-- File -->
            <div class="mb-3">
                <label class="form-label">Select file</label>
                <input type="file" class="form-control" name="track" id="upload-file">
            </div>
            <!-- Track name -->
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" name="name" id="filename">
            </div>
            <!-- Duration -->
            <div class="mb-3" style="display: none;">
                <input type="text" class="form-control" name="duration" id="duration" readonly>
            </div>
            <!-- Labels -->
            <% if(labels.length == 0){ %> <!-- If no labels -->
                <div class="card mb-3">
                    <div class="card-body text-center">
                        <h5 class="card-title">No labels yet</h5>
                    </div>
                </div>
            <% } else{ %>  <!-- If labels -->
                <div class="list-group mb-3">
                    <label class="form-label">Add labels</label>
                    <% labels.forEach(function(label){ %>
                    <label class="list-group-item" id="<%= label.id %>-label">
                        <input class="form-check-input me-1" type="checkbox" name="<%= label.id %>" id="<%= label.id %>" onclick="check(this.id)" style="display:none">
                        <%= label.label %>
                    </label>
                    <% }); %>
                </div>
            <script> 
                function check(id) {
                    var label= document.getElementById(id+"-label")
                    var checkbox= document.getElementById(id)
                    if(checkbox.checked){
                        label.classList.add("list-group-item","active")
                        console.log("checked")
                    }
                    else{
                        console.log("unchecked")
                        label.classList.remove("active")   
                    }
                }
            </script>
            <% } %>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<audio id='audio'></audio>

<script>
    //Add name of file
    //Get fields
    var fileInput = document.getElementById('upload-file');
    var nameInput = document.getElementById('filename');
    var audio = document.getElementById('audio');
    var dur = document.getElementById('duration');

    //The change event gives us the input it occurred in 
    fileInput.addEventListener('change', (event) => {
        //Get input
        var input = event.srcElement;
        //Get name from file and remove extension
        var fileName = input.files[0].name.split(".");
        fileName.splice(-1)
        //Write filename in Name field
        nameInput.value = fileName;
    });

    //Get duration
    //Add canplaythrough event to audio to get duration
    var duration =0;
    audio.addEventListener('canplaythrough', function(e){
        //Add duration to hidden field
        duration = Math.round(e.currentTarget.duration);
        dur.value = duration;
        URL.revokeObjectURL(obUrl);
    });

    //When select a file, create an ObjectURL with the file and add it to audio
    var obUrl;
    fileInput.addEventListener('change', function(e){
        var file = e.currentTarget.files[0];
        //Check file extension for audio/video type
        if(file.name.match(/\.(avi|mp3|mp4|mpeg|ogg)$/i)){
            obUrl = URL.createObjectURL(file);
            audio.setAttribute('src', obUrl);
        }
    });
</script>